@media (max-width: 767px){

  .divSearchbarPc { 
    display: none;
  }
  .navbar{
    box-shadow: 0px 0px 0px rgb(19, 19, 19);
  }
  .divButton{
    display: none;
  }
  .divButtonMobile > button{
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
  }
  .contHeader{
    justify-content: center;
  }
  .logo{
    margin-top: 5px;
  }
}

@media (max-width: 259px){
  body{
    display: none;
  }
}

@media (min-width: 767px){
  .divSearchbarMobile{
    display: none;
  }
  .divMenuBottomMobile{
    display: none;
  }
}









