@media (max-width: 767px) {
  .divMenuBottomMobile {
    display: block;
  }

  .btnStyle {
    font-size: 16px;
  }

  .divSearchbarPc {
    display: none;
    width: 80vw;
  }

  .navbar {
    background-color: #1f2030;
  }

  .divButton {
    display: none;
  }
  .divButtonMobile > button {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
  }
  .contHeader {
    justify-content: center;
  }
  .logo {
    content: url(../resources/svg/logo2-mobile.svg);
    margin-top: 5px;
  }

  .footer {
    display: none;
  }

  .headNewGames_two,
  .headNewGames_tree,
  .headNewGames_four {
    width: 145px;
    min-width: 145px;
  }

  .headGame,
  .headNewGames {
    height: 90px;
  }

  h2 {
    font-size: 1.1rem;
  }

  ::-webkit-scrollbar-button {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 259px) {
  body {
    display: none;
  }
}

@media (max-width: 370px) {
  .btnStyle {
    font-size: 16px;
  }
}

@media (min-width: 767px) {
  .switchSearch {
    display: none;
  }
}
