@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

@-webkit-keyframes animVaisseau {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}
@keyframes animVaisseau {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@-webkit-keyframes btnRegisterAnim {
  0% {
    background: #8619ea;
  }
  100% {
    background: #197bea;
  }
}
@keyframes btnRegisterAnim {
  0% {
    background: #8619ea;
  }
  100% {
    background: #197bea;
  }
}

@-webkit-keyframes rotateSetting {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateSetting {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* RACINE */
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #02020c;
}

header {
  background-color: #1f2030f5;
}

/* NAVBAR */
.navbar {
  height: 70px;
  z-index: 100;
}

.contHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #1f2030;
  position: fixed;
}

/* BOUTON MENU */
.btn-register {
  background-color: #8619ea;
  box-shadow: 4px -2px 13px rgb(19, 19, 19);
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 1.12rem;
  width: 110px;
  border: none;
  border-radius: 10px 3px 10px 3px;
}

.btn-register:hover {
  color: white;
}

.btn-connect {
  color: #ffffff;
  background-color: transparent;
  font-family: "Outfit", sans-serif;
  font-size: 1.12rem;
  border: 0;
}

.btn-connect:hover {
  color: #ffffff8f;
}

.divButton {
  display: flex;
  height: 40px;
  margin-right: 14px;
}

.divButtonMobile {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.btnRegisterAnim {
  -webkit-animation: btnRegisterAnim 2s linear infinite alternate both;
  animation: btnRegisterAnim 2s linear infinite alternate both;
}

/* BARRE DE RECHERCHE */
.divSearchbarPc {
  width: 45%;
  background-color: #1f2030;
  height: 33px;
}

.searchbar {
  width: 100%;
  height: 33px;
  background-color: #343649;
  border: none;
  color: white;
  font-size: 1.12rem;
  font-family: "Outfit", sans-serif;
  border-radius: 10px 30px 10px 3px;
  background-image: url(../resources/svg/search-sharp.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
}

.searchbar::placeholder {
  color: white;
  text-indent: 35px;
}

.searchbar:focus {
  outline: none;
  text-indent: 35px;
}

.cancelButton[type="search"]::-webkit-search-cancel-button,
.clearButton[type="search"]::-webkit-search-clear-button {
  appearance: none;
}

/* MENU LATERAL */


.labelNew{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8619ea;
  border-radius: 0px 5px 5px 0px;
  font-size: 0.9rem;
  color: white;
  font-family: "Outfit", sans-serif;
  height: 20px;
  width: 40px;
}

hr {
  width: 70%;
  margin: 15px 0px 0px 0px;
}


.searchBarMobile {
  width: 120px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: transparent;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.searchBarMobile::placeholder {
  color: rgba(255, 255, 255, 0.226);
  font-style: italic;
}

.searchBarMobile:focus {
  outline: none;
}

.leftListPc {
  display: none;
  background-color: rgb(2, 2, 12);
  width: 200px;
  border-right: 1px solid #101116f5;
  z-index: 50;
  height: 100vh;
  position: fixed;
  padding: 0;
}

.leftListMobile {
  display: flex;
  background-color: rgb(2, 2, 12);
  width: 100%;
  height: 50px;
  z-index: 50;
  position: fixed;
  padding: 0;
}

.divLi {
  display: flex;
  width: 70%;
  color: white;
  margin-top: 10px;
  font-family: "Outfit", sans-serif;
  font-size: 1.12rem;
}

.hoverIcon:hover svg path {
  fill: #8619ea;
}

.hoverIcon:hover {
  color: #8619ea;
  font-weight: 500;
}

.closebuttonLateral {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.divMenuLateralPc {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin: 10px 0px 2px 34px;
}

.divMenuLateralMobile {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.divMenuLateralMobile::-webkit-scrollbar-button {
  width: 30px;
}



::-webkit-scrollbar {
  height: 1.5px;
}

::-webkit-scrollbar-button {
  width: 100px;
}

::-webkit-scrollbar-thumb {
  background: #8619ea;
  border: 0px none #ffffff;
}

::-webkit-scrollbar-track {
  background: #0a0a16;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.buttonLateralPc,
.buttonLateralMobile {
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding-left: 12px;
}

.iconmenuMobile {
  margin: 0px 4.5px 0px 4.5px;
}

.divMenuLateral > h2 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 1.1875rem;
  white-space: nowrap;
}

.divMenuLateral > * {
  padding: 0;
  margin: 0;
}

/* MENU BOTTOM MOBILE */

.divMenuBottomMobile {
  display: none;
  width: 100%;
  height: 65px;
  background-color: #1f2030;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.divDesign {
  width: 100%;
  height: 10px;
  position: absolute;
  border-left: 100vw solid transparent;
  border-bottom: 13px solid #1f2030;
  transform: translate(0, -90%);
  position: fixed;
}

/* MAIN DIV */

.rowAside {
  flex-direction: column;
  align-content: flex-start;
}

.contGames {
  display: flex;
  padding-top: 80px;
  padding-left: 12px;
  flex-direction: column;
}

.rowGames {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 30px;
}

.divnewGames {
  display: flex;
  gap: 10px;
  padding: 10px 10px 15px 10px;
}

.headGame,
.headNewGames,
.headTendanceGames {
  width: 200px;
  min-width: 200px;
  height: 150px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgb(29, 29, 29);
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headNewGames_one{
  background-image: url(../resources/svg/games/dicefive.svg);
}

.headNewGames_two{
  background-image: url(../resources/svg/games/volleysmash.svg);
}

.headNewGames_three{
  background-image: url(../resources/svg/games/creatureclash.svg);
  background-position: 0px -35px;
}

.headNewGames_four{
  background-image: url(../resources/svg/games/riverside.svg);
  background-position: top;
}

.headNewGames_five{
  background-image: url(../resources/svg/games/gourmetglamping.svg);
}

.headNewGames_six{
  background-image: url(../resources/svg/games/monsterphobia.svg);
}

.headTendanceGames_one{
  background-image: url(../resources/svg/games/rps.svg);
  background-position: bottom;
}

.headTendanceGames_two{
  background-image: url(../resources/svg/games/rushroyale.svg);
  background-position: bottom;
}

.headTendanceGames_three{
  background-image: url(../resources/svg/games/wander.svg);
}

.headTendanceGames_four{
  background-image: url(../resources/svg/games/jurrasicbubble.svg);
  background-position: 0px 0px;
}

.headTendanceGames_five{
  background-image: url(../resources/svg/games/lootin.svg);
  background-position: bottom;
}

.headTendanceGames_six{
  background-image: url(../resources/svg/games/merge.svg);
}

.rotateSetting {
  -webkit-animation: rotateSetting 1.9s linear infinite both;
  animation: rotateSetting 1.9s linear infinite both;

}

h2 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 1.3rem;
  margin: 0;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 80px;
  background-color: #1f2030;
  display: flex;
  color: white;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  bottom: 0;
}